code.highlighter-rouge {
    background: #1a1a1a;
    border: 1px #333 solid;
    margin: 2px;
    border-radius: 7px;
}

.title-anchor {
    position: absolute;
    left: -5px;
    fill: #e8e8e8;
    visibility: hidden;
}
a:hover .title-anchor {
    visibility: visible;
}