html {
    scroll-behavior: smooth;
}

code.highlighter-rouge {
    background: #1a1a1a;
    border: 1px #333 solid;
    margin: 2px;
    border-radius: 7px;
}

.title-anchor {
    position: relative;
    top: 2px;
    fill: #e8e8e8;
    visibility: hidden;
}
h1:hover .title-anchor, h2:hover .title-anchor, h3:hover .title-anchor, h4:hover .title-anchor, h5:hover .title-anchor, h6:hover .title-anchor {
    visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 75px;
    margin-top: -75px;
}