html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;
}

/* content */
main {
    width: 100vw;
    padding-bottom: 5rem;
}

.row {
    height: 100vh;
}

.section {
    padding: 1vmax;
    margin: 0;
    margin-bottom: 8vh;
}

.card {
    margin: 2vmax;
    margin-left: 6vw;
    margin-right: 6vw;
    padding: 1vmin;
}

.card .divider {
    margin-bottom: 1vmax;
}

.card .btn {
    margin-top: 1vmax;
    left: 50%;
    transform: translateX(-50%);
}

#sidenav {
    position: relative;
    top: 50%;
    z-index: 5;
}

#sidenav ul {
    transform: translateY(-50%);
    margin-left: 1vmin;
}

#section-0 {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#section-0 img {
    width: 100%;
}

#section-0 .title {
    position: absolute;
    top: 20vh;
    left: 15vw;
    text-align: left;
}

#section-3 {
    overflow: visible
}

.wideImage {
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
}

.wideImage img {
    width: 100%;
}

#section-3 .wideImage img {
    height: 100vh;
    width: auto;
}

h1 {
    font-size: 7vh;
    margin: 0;
}

h2 {
    font-size: 5vh;
    margin: 0;
}

h3 {
    font-size: calc(10px + 5vh);
    -webkit-font-size: calc(10px + 5vh);
    margin-left: -1vmax;
    margin-bottom: 5vmax;
}

h6 {
    margin: 0;
    font-size: 2vh;
}

footer {
    grid-column: 1 / 3;
    padding: 5rem 1rem;
}